*{
    font-family: sans-serif;
    background-color: black;
    font-weight: bold;
}

#drum-machine{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 70px 70px 70px;
}

.drum-pad{
    font-size: 35px;
    border-radius: 10%;
    background-color: rgb(2, 228, 13);
}

#display{
    color: aliceblue;
    text-align: center;
    width: 270px;
}